
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f3f3; /* fondo de la pizarra */
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}


header .company-info {
    text-align: center; /* Alinea el texto al centro */
    flex-grow: 1; /* Permite que la información de la empresa ocupe el espacio restante */
}

header h1 {
    font-size: 45px; /* Ajusta el tamaño de la letra de Información & Marketing */
}

header p {
    font-size: 28px; /* Ajusta el tamaño de la letra de Consultoría Empresarial */
}

header .logo img {
    max-height: 250px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    white-space: nowrap; /* Evita saltos de línea */
}

nav a {
    margin: 0 10px; /* Ajusta el espacio entre cada opción */
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* Agrega transición suave al cambio de color */
}

nav a:hover,
nav a:active,
nav a:visited {
    background-color: #007BFF; /* Cambia el color de fondo al pasar el mouse, hacer clic o visitar */
    color: #fff; /* Cambia el color del texto al pasar el mouse, hacer clic o visitar */
}

section:target {
    background-color: #f0f0f0; /* Cambia el color de fondo de la sección activa */
    padding: 30px; /* Ajusta el espaciado de la sección activa según sea necesario */
    border-radius: 10px; /* Añade esquinas redondeadas para destacar la sección activa */
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Agrega transición suave al cambio de color */
}

.dropdown-content a:hover,
.dropdown-content a:active {
    background-color: #007BFF; /* Cambia el color de fondo al pasar el mouse o hacer clic */
    color: #fff; /* Cambia el color del texto al pasar el mouse o hacer clic */
}

.contacto {
    display: inline-block;
}

.contacto-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contacto:hover .contacto-content {
    display: block;
}

.contacto-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Agrega transición suave al cambio de color */
}

.contacto-content a:hover,
.contacto-content a:active {
    background-color: #007BFF; /* Cambia el color de fondo al pasar el mouse o hacer clic */
    color: #fff; /* Cambia el color del texto al pasar el mouse o hacer clic */
}

.parrafo-justificado {
    text-align: justify;

  }

.parrafo-centrado {
    text-align: center;

  }

.resaltado {
    background-color: orange; /* Puedes cambiar "amarillo" al color que desees */
    color: black; /* Puedes cambiar "negro" al color de texto que desees */
    font-weight: bold; /* Esto es opcional, pero puede ayudar a resaltar más el texto */
  }

social-icons {
    display: flex;
    justify-content: space-around;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 20px auto; /* Centra horizontalmente y agrega espacio superior e inferior */
}

.social-icons a {
    display: inline-block;
    margin: 0 10px; /* Ajusta el espacio horizontal entre los íconos */
    text-decoration: none;
}

.social-icons img {
    width: 60px; /* Ajusta el tamaño de los íconos según tus necesidades */
    height: 40px; /* Ajusta el tamaño de los íconos según tus necesidades */
    border-radius: 50%; /* Para hacer los íconos redondos (opcional) */
}

.flex-container {
    display: flex;
    align-items: center;
}

.column {
    flex: 1;
    padding: 20px;
}

.text-column {
    margin-right: 0px; /* Ajusta el margen entre la columna de texto y la imagen */
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#regresarAlInicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Añadir estas reglas para hacer el diseño más receptivo */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Ajusta el tamaño de fuente */
    }
    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 30px; /* Ajusta el tamaño de la letra en dispositivos móviles */
    }

    header p {
        font-size: 18px; /* Ajusta el tamaño de la letra en dispositivos móviles */
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    .flex-container {
        flex-direction: column;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .text-column {
        margin-right: 0; /* Elimina el margen entre la columna de texto y la imagen en dispositivos móviles */
    }

    .dropdown-content,
    .contacto-content {
        position: static;
        display: block;
        background-color: transparent;
        color: black; /* Color del texto en dispositivos móviles */
        box-shadow: none; /* Elimina la sombra en dispositivos móviles */
    }

    .social-icons {
        max-width: none; /* Elimina el ancho máximo en dispositivos móviles */
        margin: 10px 0; /* Ajusta el espacio superior e inferior en dispositivos móviles */
    }

    .social-icons img {
        width: 40px; /* Ajusta el tamaño de los íconos en dispositivos móviles */
        height: 30px; /* Ajusta el tamaño de los íconos en dispositivos móviles */
    }

    footer {
        padding: 5px; /* Ajusta el espaciado en dispositivos móviles */
    }
}
